<h1>Add a new product</h1>
<button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
<form class="row g-3">
    <div>
        <label class="form-label">Product Name</label>
        <input type="text" class="form-control">
    </div>
    <div>
        <label class="form-label">Product Description</label>
        <input type="text" class="form-control">
    </div>
    <div>
        <select class="form-select">
            <option selected>Select Category</option>
            <option value="Vegetables">Vegetables</option>
            <option value="Fruits">Fruits</option>
            <option value="Desserts">Desserts</option>
        </select>
    </div>
    <div>
        <label class="form-label">Expire Date</label>
        <input type="date" class="form-control">
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="form-label">Unit Price</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-6">
            <label class="form-label">Units in stock</label>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Add Product</button>
        <button type="button" class="btn btn-secondary">cancel</button>
    </div>
</form>