<div class="container-fluid main-content" *ngIf="!showProductDetails">
    <div class="row">
        <section [ngClass]="showAddProduct? 'col-md-7': 'col-md-12'">

            <div class="product-header">
                <h1>Product List
                    <span *ngIf="!isLoading" (click)="refresh()" style="cursor: pointer;">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </span>
                    <i *ngIf="isLoading" class="fa fa-refresh fa-spin fa-fw" aria-hidden="true"></i>
                </h1>
                <button *ngIf="!showAddProduct" type="button" class="btn btn-outline-primary" (click)="addProduct()">Add
                    Product</button>
                <button *ngIf="showAddProduct" type="button" class="btn btn-outline-primary"
                    (click)="cancelAddProduct()">Cancel add
                    Product</button>
            </div>
            <table class="table">
                <thead class="thead-light t-head">
                    <tr>
                        <th scope="col">Product Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Description</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <th scope="row">{{product.id}}</th>
                        <td>{{product.productName}}</td>
                        <td>{{product.productDescription}}</td>
                        <td>{{product.createdDate | date}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.unitPrice}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="col-md-5">
            <app-add-product *ngIf="showAddProduct" (cancelAddProduct)="cancelAddProduct()"></app-add-product>
        </section>
    </div>
</div>
<div *ngIf="showProductDetails">
    <app-product-details (backToList)="closeProductDetais()"></app-product-details>
</div>